<h4>Terms and Conditions</h4>

<div class="t-and-c">
	<p>The use of any product, service or feature (the "Materials") available through the internet web sites accessible at (the "Web Site") by any user of the Web Site ("you" or "your") shall be governed by the following Terms of Use:</p>

	<p>This Web site is provided by Team 5 and may be used for informational purposes only. By using the site or downloading the Materials from the site, you agree to abide by the terms and conditions set forth in this notice. If you do not agree to abide by these terms and conditions, please do not use the Web Site or download materials from the Web Site.</p>

	<p>This Site, including all Materials present (excluding any applicable third party materials), is the property of DePaul University CMD and is copyrighted and protected by worldwide copyright laws and treaty provisions. You agree to comply with all copyright laws worldwide in your use of this Web Site and to prevent any unauthorized copying of the Materials. Team 5 does not grant any express or implied rights under any patents, trademarks, copyrights or trade secret information.</p>

	<h3>Limited License:</h3>

	<p>Subject to the terms and conditions set forth in these Terms of Use, Team 5 grants you a non-exclusive, non-transferable, limited right to access, use and display this site and the materials thereon. You agree not to interrupt or attempt to interrupt the operation of the site in any way. <p>

	<h3>No Warranties:</h3>

	<p>This site, the information and materials on the site, and any software made available on the site, are provided "as is" without any representation or warranty, express or implied, of any kind, including, but not limited to, warranties of merchantability, noninfringement, or fitness for any purpose. There is no warranty of any kind, express or implied, regarding third party content. there is also no warranty that this site will be free of any computer viruses. Some jurisdictions do not allow for the exclusion of implied warranties, so the above exclusions may not apply to you. </p>

	<h3>Limitation of Damages:</h3>

	<p>In no event shall Team 5 be liable to any entity for any direct, indirect, special, consequential or other damages that are related to the use of, or the inability to use, the content, materials, and functions of the web site or any linked web site.</p>

	<h3>Privacy Policy:</h3>
	<p>DePaul University CDM is the sole owner of the information collected on this site. We will not sell, share, or rent this information to others in ways different from what is disclosed in this statement. The website collects information from our users at several different points.</p>
</div>